.pomodoro-buttons {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 30px;
  border: none;
  color: white;
  background: none;
  cursor: pointer;
}

.start-stop {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #36365e;
  font-size: 15px;
  cursor: pointer;
}

.icons {
  margin-left: 6px;
  font-size: 13px;
}
