body {
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}
